<div class="IKeyvalueeditor-row" *ngFor="let data of header; let idx = index">
  <input type="text" class="IKeyvalueeditor-key" placeholder="Key" [(ngModel)]="data.key" (keydown)="onKeyDown($event, idx)">
  <input type="text" class="IKeyvalueeditor-value IKeyvalueeditor-value-text " placeholder="Value " [(ngModel)]="data.value"
    (keydown)="onKeyDown($event, idx)">
  <input type="text" class="IKeyvalueeditor-value IKeyvalueeditor-value-text " placeholder="Description" [(ngModel)]="data.description"
    (keydown)="onKeyDown($event, idx)">
  <button type="button" class="btn btn-default btn-circle" (click)="onDeleteClick(idx)" *ngIf="header.length-1 != idx"><i class="glyphicon glyphicon-remove"></i></button>
</div>