
<section id="request">
  <div id="request-builder">
    <div id="request-types" class="clearfix">
      <ul class="request-helper-tabs">
        <li class="active" data-id="normal">Normal</li>
      </ul>
      <div id="environment-selector-wrapper" *ngIf="0">
        <div id="environment-quicklook-wrapper">
          <a id="environment-quicklook">
                        <img src="assets/img/eye.png"/>
                    </a>
        </div>
        <div id="environment-quicklook-content" class="clearfix">
          <div id="environment-quicklook-environments">
            <h6>No environment</h6>
            <ul></ul>
          </div>
          <div id="environment-quicklook-globals">
            <h6>Globals</h6>
            <ul></ul>
          </div>
        </div>
        <div id="environment-selector">
          <div class="btn-group">
            <a data-toggle="dropdown">
                            <span class="environment-list-item-selected">No environment</span>
                            <span class="caret" style="margin-top: 8px;"></span></a>
            <ul class="dropdown-menu">
            </ul>
          </div>
        </div>
      </div>
      <div id="broadcasts" class="btn-group">
        <a data-toggle="dropdown" rel="tooltip" id="broadcasts-count">0</a>
        <ul class="dropdown-menu">
        </ul>
      </div>
      <!--
      <div class="preferences">
        <a data-toggle="modal" href="#modal-shortcuts" rel="tooltip" data-placement="bottom" data-original-title="Shortcuts">
                    <img src="assets/img/keyboard_wireless.png" style="vertical-align: middle;"/></a>
        <a href="#modal-settings" data-toggle="modal" rel="tooltip" data-placement="bottom" data-original-title="Settings">
                    <img src="assets/img/settings.png" style="vertical-align: middle;"/></a>
      </div>
      -->
    </div>
    <div id="request-helpers" class="clearfix" *ngIf="0">
      <div id="request-helper-normal" class="request-helpers"></div>
      <div id="request-helper-basicAuth" class="request-helpers">
        <div class="request-helper-form-container">
          <form class="form form-horizontal">
            <div class="control-group">
              <label class="control-label">Username</label>

              <div class="controls">
                <input type="text" id="request-helper-basicAuth-username" class="clean-input" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Password</label>

              <div class="controls">
                <input type="password" id="request-helper-basicAuth-password" class="clean-input" />
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <a class="btn btn-secondary request-helper-submit" data-type="basic">Refresh headers</a>
              </div>
            </div>
          </form>
        </div>
        <div class="request-helper-form-description">
          <h4>Note</h4>
          The authorization header will be generated and added as a custom header.
        </div>
      </div>
    </div>

    <div id="request-url" class="clearfix">
      <div id="request-url-wrapper">
        <div id="request-url-container">
          <input type="text" [(ngModel)]="request.url" name="url" id="url" tabindex="1" class="input-text-light" placeholder="Enter request URL here" />
        </div>
      </div>
      <div id="request-modifiers">
        <div id="request-method-container">
          <select id="request-method-selector" [(ngModel)]="method">
                        <option value="GET">GET</option>
                        <option value="POST">POST</option>
                        <option value="PUT">PUT</option>
                        <option value="PATCH">PATCH</option>
                        <option value="DELETE">DELETE</option>
                        <option value="COPY">COPY</option>
                        <option value="HEAD">HEAD</option>
                        <option value="OPTIONS">OPTIONS</option>                            
                        <option value="LINK">LINK</option>
                        <option value="UNLINK">UNLINK</option>
                        <option value="PURGE">PURGE</option>
                    </select>
        </div>
        <div id="request-url-buttons-container">
          <button class="btn" id="url-keyvaleditor-actions-open"><i
                            class="icon-edit"></i> URL params
                    </button>
          <button class="btn" id="headers-keyvaleditor-actions-open"><i
                            class="icon-edit"></i> Headers (<span class="headers-count">0</span>)
                    </button>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div id="url-keyvaleditor-container" class="row" style="margin-left: 0px; display: none;">
      <div id="url-keyvaleditor"></div>
    </div>

    <div id="headers-keyvaleditor-container" class="row clearfix" style="margin-left: 0px; display: none;">
      <div class="keyvaleditor-left">
        <div id="headers-keyvaleditor"></div>
      </div>
      <div class="keyvaleditor-right">
        <div id="headers-keyvaleditor-actions">
          <input type="button" id="headers-keyvaleditor-actions-manage-presets" class="btn" rel="popover" data-trigger="hover" data-placement="bottom"
            data-content="Presets let you define groups of headers for quick addition" data-original-title="Header presets"
            value="Manage presets" /><br/>
        </div>
      </div>
    </div>

    <div>
      <div class="clearfix">
        
        <div class="btn-group" data-toggle="buttons" *ngIf="request.body">
          <label class="btn btn-primary" [class.active]="mode=='formdata'">
                <input type="radio" [(ngModel)]="mode" value="formdata">form-data
              </label>
          <label class="btn btn-primary" [class.active]="mode=='urlencoded'">
                <input type="radio" [(ngModel)]="mode" value="urlencoded"> x-www-form-urlencoded
              </label>
          <label class="btn btn-primary" [class.active]="mode=='raw'">
                <input type="radio" [(ngModel)]="mode" value="raw"> raw
              </label>
        </div>


      </div>
      <div id="body-data-containers">
        <div id="formdata-keyvaleditor-container" class="row" style="margin-left: 0;" *ngIf="mode=='formdata'">
          <div id="formdata-keyvaleditor">
            <request-formdata *ngFor="let val of formdata" [data]="val"></request-formdata>
          </div>
        </div>
        <div id="urlencoded-keyvaleditor-container" class="row" style="margin-left: 0;" *ngIf="mode=='urlencoded'">
          <div id="urlencoded-keyvaleditor">
            <request-urlencoded></request-urlencoded>
          </div>
        </div>
        <div id="body-data-container" *ngIf="mode=='raw'">
          <textarea name="data" id="body" tabindex="4" class="inputText"></textarea>
          <pre id="body-editor-mode-selector-format-result">
                    </pre>
        </div>
      </div>
    </div>
  </div>


  <div id="request-actions" class="clearfix">
    <div id="request-actions-primary">
      <button class="btn btn-primary" data-loading-text="Fetching data..." type="button" data-complete-text="Send request" id="submit-request"
        tabindex="5" (click)="onSend()">
            Send
        </button>
      <button class="btn" id="update-request-in-collection">Save
        </button>
      <button class="btn" id="add-to-collection" href="#modal-add-to-collection" data-toggle="modal" data-backdrop="static" data-keyboard="true">Add to collection
        </button>
    </div>
    <div id="request-actions-secondary">
      <button class="btn btn-danger" id="request-actions-reset">Reset</button>
    </div>
  </div>
</section>