<section id="response">
  <div id="response-waiting-container" *ngIf="0">
    <h3>Loading...</h3>
    <button id="cancel-request" class="btn">Cancel request</button>
  </div>
  <div id="response-failed-container" *ngIf="0">
    <h3>Could not get any response</h3>

    <p>
      This seems to be like an error connecting to <span id="connection-error-url"></span>. The response status was 0.<br/>      Check out the
      <a href="http://www.w3.org/TR/XMLHttpRequest/#the-status-attribute" target="_blank">W3C XMLHttpRequest Level
                2 spec</a> for more details about when this happens.
    </p>
  </div>
  <div id="response-success-container">
    <div id="response-top-bar">
      <ngb-tabset>
        <ngb-tab title="Body">
          <ng-template ngbTabContent>
            <response-body [body]="body"></response-body>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Cookies">
          <ng-template ngbTabContent>
            {{cookies | json}}
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Headers">
          <ng-template ngbTabContent>
            {{headers | json}}
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>
  </div>
</section>